/Maksukortti/nbproject/private/
/Maksukortti/build/
/Unicafe/nbproject/
/mooc-securing-software-19/Set1-01.PortScanner/target/
/mooc-securing-software-19/Set1-02.HelloWeb/target/
/mooc-securing-software-19/Set1-03.Calculator/target/
/mooc-securing-software-19/Set1-04.HelloTemplates/target/
/mooc-securing-software-19/Set1-05.HelloList/target/
/mooc-securing-software-19/Set1-06.Notebook/target/